In [1]:
import numpy as np
import pandas as pd
# Let's make sure pandas returns all the rows and columns for the dataframe
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Force pandas to display full numbers instead of scientific notation
#pd.options.display.float_format = '{:.6f}'.format

# Library to suppress warnings
import warnings
warnings.filterwarnings('ignore')


path = "/Users/laketakemp/Desktop/Data/Microsoft Airband/"

fixed_broadband = pd.read_csv(path + "bdc_us_fixed_broadband_summary_by_geography_D24_10jun2025.csv")
mobile_broadband = pd.read_csv(path + "bdc_us_mobile_broadband_summary_by_geography_D24_10jun2025.csv")
provider_summary = pd.read_csv(path + "bdc_us_provider_summary_by_geography_D24_10jun2025.csv")

In [2]:
mobile_broadband.head()

,area_data_type,geography_type,geography_id,geography_desc,total_area,mobilebb_3g_area_st_pct,mobilebb_3g_area_iv_pct,mobilebb_4g_area_st_pct,mobilebb_4g_area_iv_pct,mobilebb_5g_spd1_area_st_pct,mobilebb_5g_spd1_area_iv_pct,mobilebb_5g_spd2_area_st_pct,mobilebb_5g_spd2_area_iv_pct
0,Total,National,99,National,9.754824e+06,0.061412,0.042772,0.687893,0.458448,0.480004,0.248525,0.371785,0.170598
1,Total,State,01,Alabama,1.370274e+05,0.000000,0.000000,0.946387,0.636515,0.619221,0.301340,0.453410,0.225019
2,Total,State,02,Alaska,1.846753e+06,0.081332,0.053745,0.074291,0.031995,0.017289,0.006168,0.008915,0.003235
3,Total,State,04,Arizona,2.573078e+05,0.070936,0.047557,0.725504,0.338257,0.390342,0.173772,0.311632,0.117986
4,Total,State,05,Arkansas,1.310934e+05,0.000000,0.000000,0.909323,0.522770,0.652989,0.312045,0.464339,0.220165

In [3]:
provider_summary.head()

,geography_type,geography_id,geography_desc,data_type,provider_id,res_st_pct,bus_iv_pct
0,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130077,0.0000,0.1291
1,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130228,0.5622,0.5622
2,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130403,0.1278,0.1475
3,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130405,0.0042,0.0042
4,CBSA (MSA),10100,"Aberdeen, SD Micro Area",Fixed Broadband,130627,1.0000,1.0000

In [4]:
fixed_broadband.head()

,area_data_type,geography_type,geography_id,geography_desc,geography_desc_full,total_units,biz_res,technology,speed_02_02,speed_10_1,speed_25_3,speed_100_20,speed_250_25,speed_1000_100
0,Total,National,99,National,National,164620769,R,Any Technology,1.000000,1.000000,1.000000,0.999915,0.913689,0.591365
1,Total,National,99,National,National,164620769,B,Any Technology,1.000000,1.000000,1.000000,0.993139,0.746884,0.501676
2,Total,National,99,National,National,164620769,R,All Wired,0.942141,0.931779,0.918651,0.908110,0.898847,0.583388
3,Total,National,99,National,National,164620769,B,All Wired,0.829826,0.801551,0.775540,0.728392,0.712035,0.484683
4,Total,National,99,National,National,164620769,R,Any Terrestrial,0.978991,0.971951,0.964834,0.945304,0.913689,0.591365

In [5]:
fixed_broadband.tail()

,area_data_type,geography_type,geography_id,geography_desc,geography_desc_full,total_units,biz_res,technology,speed_02_02,speed_10_1,speed_25_3,speed_100_20,speed_250_25,speed_1000_100
623935,Rural,CBSA (MSA),49820,"Zapata, TX","Zapata, TX",2642,B,Unlicensed Fixed Wireless,0.434519,0.434519,0.434519,0.003407,0.002650,0.0
623936,Rural,CBSA (MSA),49820,"Zapata, TX","Zapata, TX",2642,R,Licensed Fixed Wireless,0.478047,0.366768,0.366768,0.149129,0.053369,0.0
623937,Rural,CBSA (MSA),49820,"Zapata, TX","Zapata, TX",2642,B,Licensed Fixed Wireless,0.701741,0.543149,0.540121,0.171461,0.053369,0.0
623938,Rural,CBSA (MSA),49820,"Zapata, TX","Zapata, TX",2642,R,Other,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
623939,Rural,CBSA (MSA),49820,"Zapata, TX","Zapata, TX",2642,B,Other,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [6]:
fixed_broadband['geography_desc'].unique()

array(['National', 'Acoma Pueblo', 'Acoma Off-Reservation Trust Land',
       ..., 'Yuma, AZ', 'Zanesville, OH', 'Zapata, TX'], dtype=object)

In [7]:
fixed_broadband.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623940 entries, 0 to 623939
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   area_data_type       623940 non-null  object
 1   geography_type       623940 non-null  object
 2   geography_id         623940 non-null  object
 3   geography_desc       623940 non-null  object
 4   geography_desc_full  623940 non-null  object
 5   total_units          623940 non-null  int64
 6   biz_res              623940 non-null  object
 7   technology           623940 non-null  object
 8   speed_02_02          623940 non-null  float64
 9   speed_10_1           623940 non-null  float64
 10  speed_25_3           623940 non-null  float64
 11  speed_100_20         623940 non-null  float64
 12  speed_250_25         623940 non-null  float64
 13  speed_1000_100       623940 non-null  float64
dtypes: float64(6), int64(1), object(7)
memory usage: 66.6+ MB