In [1]:
# Import some libraries
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

# Designate the path
path = "/Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/"

# Create a list of files
files = ["eas", "key_hhld_info", "s1d", "s1ei",
         "s1ei0", "s1eii", "s1eii0", "s1eiii",
         "s1eiii0", "s1fi", "s1fii", "s1fiii",
         "s1gi", "s1gi0", "s1gii", "s1gii0",
         "s2a", "s2a0", "s2b", "s2b0",
         "s3ai", "s3aii", "s3aii0", "s3aiii",
         "s3bi", "s3bi0", "s3bii", "s3bii0",
         "s3biii", "s3biii0", "s3biv", "s3biv0",
         "s3bv", "s3bv0", "s4ai", "s4aii",
         "s4aiii", "s4aiv", "s4aix1", "s4aix2",
         "s4aix3", "s4aix4", "s4aix5", "s4aix6",
         "s4aix7", "s4aix8", "s4av1", "s4av2", 
         "s4avi1", "s4avi2", "s4aiv10", "s4aiv20", 
         "s4aii", "s4aviii1", "s4aviii2", "s4aviii10",
         "s4aviii20", "s4bi", "s4bi0", "s4bii",
         "s4bii0", "s4h_agsection_panel", "s5a0", "s5ai",
         "s5aii", "s5bi", "s5bii", "s5biii",
         "s5biv","s5c1", "s5c2", "s5c3", 
         "s5d1", "s5d2", "s5d3", "s5e1", 
        "s5e2", "s5e3", "s5f", "s6a",
        "s6d", "s6e", "s6f", "s6g", 
        "s7a", "s7b" "s8a", "s8b", "s9a",
        "s9b1", "s9b2", "s9c", "s9d",
        "s9e", "s10ai", "s10aii", "s10aiii", 
        "s10aiv", "s10av", "s10avi", "s10a", 
        "s10b", "s10c", "s10c0", "s10di", 
        "s10dii", "s10diii", "s11a", "s11a1", 
        "s11b", "s11c", "s11d", "s12ai", "s12aii", 
        "s40", "s70", "s80", "s90", "s100",
        "s980", "sec0"]

filenames=[]
# Add the file suffix
for file in files:
    full_filename = path + file + '.dta'
    filenames.append(full_filename)

In [2]:
type(filenames)

list

In [3]:
# Read in one just to verify the data
s1eii = pd.read_stata("/Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s1eii.dta")
s1eii.head()

,regioncode,districtcode,eacode,hhid,hhmid,s1eii_31,s1eii_32,s1eii_33,s1eii_34,s1eii_35i,...,s1eii_57i,s1eii_57ii,s1eii_57iii,s1eii_58,s1eii_59,s1eii_60,s1eii_61i,s1eii_61ii,FPrimary,wave
0,Western Region,2,6,55,1,FIXING OF IRON RODS,712.0,CONSTRUCTION OF BUILDING,4520.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101006055,1.0
1,Western Region,5,4,16,1,SWEEPING AND CLEANING OF THE B,916.0,SANITARY SERVICE,9000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101004016,1.0
2,Central Region,6,45,51,1,STREET VENDOR,911.0,SELLING BREAD,5252.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102045051,1.0
3,Central Region,9,54,58,1,"TRADES IN PALM OIL, PALM KENRN",523.0,RETAIL TRADE,5252.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102054058,1.0
4,Greater Accra Region,1,70,9,5,5,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103070009,1.0

In [4]:
s1eii.tail(10)

,regioncode,districtcode,eacode,hhid,hhmid,s1eii_31,s1eii_32,s1eii_33,s1eii_34,s1eii_35i,...,s1eii_57i,s1eii_57ii,s1eii_57iii,s1eii_58,s1eii_59,s1eii_60,s1eii_61i,s1eii_61ii,FPrimary,wave
20,Ashanti Region,94,179,127,1,COCOA FARMING,11.0,AGRICULTURE,113.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106179127,1.0
21,Ashanti Region,94,180,4,1,FARMING,11.0,AGRIC,111.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106180004,1.0
22,Ashanti Region,94,180,16,1,FARMER,621.0,,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106180016,1.0
23,Ashanti Region,97,189,82,1,FARMING,11.0,AGRIC,111.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106189082,1.0
24,Brong Ahafo Region,112,241,35,1,FARMING,921.0,AGRICULTURE,113.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107241035,1.0
25,Brong Ahafo Region,113,245,25,1,SALE OF FROZEN MEAT & FISH,522.0,FROZEN FOODS,5211.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107245025,1.0
26,Northern Region,10,299,134,1,EVENTS MANAGEMENT,245.0,GAMES AND FUNS,9213.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108299134,1.0
27,Northern Region,138,278,23,1,,NaN,,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108278023,1.0
28,Northern Region,147,273,38,1,,NaN,,NaN,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108273038,1.0
29,Upper West Region,169,332,10,1,FARMING,621.0,FARMING,111.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110332010,1.0

In [5]:
# Verifying the first file, what is there?
key_hhld_info = pd.read_stata('/Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/key_hhld_info.dta')
key_hhld_info.head()

,regioncode,districtcode,eacode,hhid,FPrimary,urbrur,loc7,hhweight3,ppweight3,wave
0,Western Region,6,1,2,101001002,Rural,Rural Forest,721.062927,3605.314697,1.0
1,Western Region,6,1,3,101001003,Rural,Rural Forest,721.062927,721.062927,1.0
2,Western Region,6,1,4,101001004,Rural,Rural Forest,721.062927,721.062927,1.0
3,Western Region,6,1,9,101001009,Rural,Rural Forest,721.062927,1442.125854,1.0
4,Western Region,6,1,10,101001010,Rural,Rural Forest,721.062927,1442.125854,1.0

In [6]:
s1d = pd.read_stata('/Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s1d.dta')
s1d.head()

,regioncode,districtcode,eacode,hhid,hhmid,s1d_1,s1d_2,sid_3i,s1d_3ii,s1d_3iii,...,s1d_26,s1d_27,s1d_28,s1d_29,s1d_30,s1d_31,s1d_32,s1d_33,FPrimary,wave
0,Western Region,6,1,2,1,Male,Household Head,5.0,12.0,1980.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,101001002,1.0
1,Western Region,6,1,2,2,Female,Spouse,NaN,NaN,1987.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,101001002,1.0
2,Western Region,6,1,2,3,Female,Parent/Parent-in-Law,NaN,NaN,1944.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,101001002,1.0
3,Western Region,6,1,2,4,Female,Child,27.0,3.0,2007.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,101001002,1.0
4,Western Region,6,1,2,5,Male,Child,29.0,4.0,2009.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,101001002,1.0

## Concatenating all of the files into one dataframe.

In [7]:
# Initialize dataframes as an empty list to store DataFrames
dataframes = []

# Loop through the list of full filenames and read each into a pandas DataFrame
# Use 'filenames' (the output from the previous step) instead of 'filename'
for file_path in filenames:
    # Check if the file actually exists before trying to read it
    if not os.path.exists(file_path):
        print(f"Warning: File not found at {file_path}. Skipping.")
        continue # Skip to the next file if this one doesn't exist

    try:
        df = pd.read_stata(file_path)
        if not df.empty: # Only append if the DataFrame is not empty
            dataframes.append(df)
        else:
            print(f"Warning: Stata file {file_path} read successfully but is empty. Skipping.")
    except Exception as e:
        print(f"Error reading Stata file {file_path}: {e}. Skipping.")

# Concatenate the dataframes. This will only run if 'dataframes' is not empty.
if dataframes:
    # If concatenating along axis=1 (columns), ensure indices are aligned or use ignore_index=True
    # Using axis=1 usually means you expect columns to be added, implying
    # all dataframes should have the same number of rows or a common index.
    # If the number of rows can vary and you want to fill missing values with NaN,
    # you might need to reindex or ensure consistent indices.
    # For a simple column-wise concatenation where indices might not perfectly match,
    # consider pd.concat(dataframes, axis=1, join='outer')
    # or pd.concat(dataframes, axis=1, join='inner') depending on your needs.
    # Here, 'outer' join is used as a common default.
    ghana_dataframe = pd.concat(dataframes, axis=1, join='outer')
    print("\nSuccessfully concatenated DataFrames. Head of the combined DataFrame:")
    print(ghana_dataframe.head())
    print(f"Combined DataFrame shape: {ghana_dataframe.shape}")
else:
    print("\nNo DataFrames were successfully loaded. 'ghana_dataframe' was not created.")
    print("Please check the warnings above for details on files that were skipped due to errors or being empty.")

/var/folders/vg/bfz6wk3x65q_k8nbpptvgw9r0000gn/T/ipykernel_42697/3041272314.py:13: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata(file_path)
/var/folders/vg/bfz6wk3x65q_k8nbpptvgw9r0000gn/T/ipykernel_42697/3041272314.py:13: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata(file_path)

Error reading Stata file /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s2a.dta:
Value labels for column s2a_28 are not unique. These cannot be converted to
pandas categoricals.

Either read the file with `convert_categoricals` set to False or use the
low level interface in `StataReader` to separately read the values and the
value_labels.

The repeated labels are:
--------------------------------------------------------------------------------
Togo
Cameroon
. Skipping.
Error reading Stata file /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s3aii.dta:
Value labels for column s3aii_0 are not unique. These cannot be converted to
pandas categoricals.

Either read the file with `convert_categoricals` set to False or use the
low level interface in `StataReader` to separately read the values and the
value_labels.

The repeated labels are:
--------------------------------------------------------------------------------
Plough
. Skipping.
Warning: File not found at /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s4aiv10.dta. Skipping.
Warning: File not found at /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s4aiv20.dta. Skipping.
Error reading Stata file /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s6f.dta:
Value labels for column s6f_10 are not unique. These cannot be converted to
pandas categoricals.

Either read the file with `convert_categoricals` set to False or use the
low level interface in `StataReader` to separately read the values and the
value_labels.

The repeated labels are:
--------------------------------------------------------------------------------
Fertility test
. Skipping.
Warning: File not found at /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s7bs8a.dta. Skipping.
Warning: File not found at /Users/laketakemp/Desktop/Data/THREADS Ghana/Wave 1/s10a.dta. Skipping.

/var/folders/vg/bfz6wk3x65q_k8nbpptvgw9r0000gn/T/ipykernel_42697/3041272314.py:13: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata(file_path)

Successfully concatenated DataFrames. Head of the combined DataFrame:
              id1  id3 wave      regioncode  districtcode  eacode  hhid  \
0  Western Region  1.0  1.0  Western Region           6.0     1.0   2.0
1  Western Region  2.0  1.0  Western Region           6.0     1.0   3.0
2  Western Region  3.0  1.0  Western Region           6.0     1.0   4.0
3  Western Region  4.0  1.0  Western Region           6.0     1.0   9.0
4  Western Region  5.0  1.0  Western Region           6.0     1.0  10.0

      FPrimary  urbrur          loc7  ...  s0_10                       s0_11  \
0  101001002.0   Rural  Rural Forest  ...  Aowin            Rooms (Compound)
1  101001003.0   Rural  Rural Forest  ...  Nzema            Rooms (Compound)
2  101001004.0   Rural  Rural Forest  ...  Aowin            Rooms (Compound)
3  101001009.0   Rural  Rural Forest  ...  Aowin            Rooms (Compound)
4  101001010.0   Rural  Rural Forest  ...  Aowin  Separate House (Bungallow)

   s0_12 s0_14  s1_0  urbrur  threezones  zone_locality     FPrimary wave
0    2.0    No    No   Rural         2.0   rural forest  101001002.0  1.0
1    2.0    No   Yes   Rural         2.0   rural forest  101001003.0  1.0
2    2.0    No   Yes   Rural         2.0   rural forest  101001004.0  1.0
3    1.0    No    No   Rural         2.0   rural forest  101001009.0  1.0
4    4.0    No   Yes   Rural         2.0   rural forest  101001010.0  1.0

[5 rows x 3620 columns]
Combined DataFrame shape: (425255, 3620)

In [8]:
ghana_dataframe.head()

,id1,id3,wave,regioncode,districtcode,eacode,hhid,FPrimary,urbrur,loc7,...,s0_10,s0_11,s0_12,s0_14,s1_0,urbrur,threezones,zone_locality,FPrimary,wave
0,Western Region,1.0,1.0,Western Region,6.0,1.0,2.0,101001002.0,Rural,Rural Forest,...,Aowin,Rooms (Compound),2.0,No,No,Rural,2.0,rural forest,101001002.0,1.0
1,Western Region,2.0,1.0,Western Region,6.0,1.0,3.0,101001003.0,Rural,Rural Forest,...,Nzema,Rooms (Compound),2.0,No,Yes,Rural,2.0,rural forest,101001003.0,1.0
2,Western Region,3.0,1.0,Western Region,6.0,1.0,4.0,101001004.0,Rural,Rural Forest,...,Aowin,Rooms (Compound),2.0,No,Yes,Rural,2.0,rural forest,101001004.0,1.0
3,Western Region,4.0,1.0,Western Region,6.0,1.0,9.0,101001009.0,Rural,Rural Forest,...,Aowin,Rooms (Compound),1.0,No,No,Rural,2.0,rural forest,101001009.0,1.0
4,Western Region,5.0,1.0,Western Region,6.0,1.0,10.0,101001010.0,Rural,Rural Forest,...,Aowin,Separate House (Bungallow),4.0,No,Yes,Rural,2.0,rural forest,101001010.0,1.0

In [12]:
ghana_dataframe.tail(10)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,id1,id3,wave,regioncode,districtcode,eacode,hhid,FPrimary,urbrur,loc7,...,s0_10,s0_11,s0_12,s0_14,s1_0,urbrur,threezones,zone_locality,FPrimary,wave
425245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Write to csv
ghana_dataframe.to_csv(path + 'ghana_wave1.csv', index=False)